<!DOCTYPE html>
<html ng-app='AnimeDictionary'>
<head>
	<title>Anime Dictionary</title>
	<script sync src="../node_modules/angular/angular.js"></script>
	<script sync src="../node_modules/angular-sanitize/angular-sanitize.min.js"></script>
	<script sync src="index.js"></script>
</head>
<body>
	<h1>Anime Dictionary</h1>
	
	<div ng-controller="Main">
		<input type="text" name="Anime Search bar" ng-model="v_animeTitle" placeholder="Type an Anime :)">
		<button ng-click="findAnime()">Submit</button>
		<button ng-click="addAnime()">Add Anime</button>
		<button ng-click="removeAnime()">Remove Anime</button>
		<br>
		<textarea placeholder="Description when adding an anime." ng-model="v_animeDescription"></textarea>
		<br>
		<p ng-bind-html='animeTitle'></p>
		<br>
		<p ng-bind-html='animeDescription'></p>
	</div>
</body>
</html>